node_modules
.Ds_Store
.vscode

# ssh student@158.160.170.119 -i ./student_key 
# cd pindie-backend
# http://158.160.170.119:3001/

# sudo ln -s /etc/nginx/sites-available/backend /etc/nginx/sites-enabled/backend